body {
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
}

.colors-grid {
    display: grid;
    gap: 16px;
    margin-bottom: 24px;
}

.colors-grid__item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.color-input {
    display: flex;
    flex-direction: column;
    width: 60px;
}

input[type="color"] {
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.color-preview__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    width: 50px;
}

.color-preview__display {
    border-radius: 4px;
    height: 40px;
    width: 40px;
}

.color-preview__label {

}

footer {
    display: flex;
    gap: 16px;
}