body {
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
}

.colors-grid {
    display: grid;
    gap: 16px;
    margin-bottom: 24px;
}

.colors-grid-item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

input[type="color"] {
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

footer {
    display: flex;
    gap: 16px;
}