@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400..700&display=swap');

body {
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn {
    background-color: var(--figma-color-bg-brand);
    border-radius: 4px;
    border: none;
    color: var(--figma-color-text);
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    padding: 0 16px;
}


.btn:hover {
    background-color: var(--figma-color-bg-brand-hover);
}

.btn:active {
    background-color: var(--figma-color-bg-brand-pressed);
}

.btn--danger {
    background-color: var(--figma-color-bg-danger);
}

.btn--danger:hover {
    background-color: var(--figma-color-bg-danger-hover);
}

.btn--danger:active {
    background-color: var(--figma-color-bg-danger-pressed);
}


.colors-grid {
    display: grid;
    gap: 16px;
    margin-bottom: 24px;
}

.colors-grid__item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.color-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 60px;
}

input[type="color"] {
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.color-preview__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    width: 50px;
}

.color-preview__display {
    border-radius: 4px;
    border: 1px solid white;
    height: 40px;
    width: 40px;
}

.color-preview__label {
    font-size: 12px;
}

footer {
    display: flex;
    gap: 16px;
}